.backgroundImage{
    background-image: url('../../asset/background.png');
    background-size: cover;
}

.intro1{
    color: #000;
font-family: AppleSDGothicNeoSB00;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* text-align: center; */
margin-left: 568px;
margin-top: 115px;

}

.intro2{
    color: #000;
font-family: AppleSDGothicNeoSB00;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 564px;

}

.introImage{
  width: 551px;
  height: 139px;
  flex-shrink: 0;
  box-sizing: border-box;
  /* margin-top: 205px;
  margin-left: 564px;
  margin-right: 805px;
  margin-bottom: 636px; 
  /* float */
  margin-left: 564px;
}

.buttons{
  box-sizing: border-box;
  display: flex;
  gap: 59px;
  margin-left: 565px;
}

.button{
  width: 242px;
  height: 70px;
  padding: 13px 40px 14px 38px;
  color: #000;
  text-align: center;
  font-family: AppleSDGothicNeoSB00;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border:none;
  border-radius: 100px;
background: var(--White, #FFF);
box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20), 1px 1px 11px 0px rgba(0, 0, 0, 0.15) inset;
}

.imageWrapper {
    position: relative;
    /* width: 50px; 
    height: 50px;   */
  }

.monkey {
    position: absolute;
    top: 0;
    left: 0;
    width: 521px;
    height: 521px;
    z-index: 2; /* backMonkey보다 앞에 오도록 설정 */
  }

  .backMonkey {
    position: absolute;
    width: 1013px;
    height: 255px;
    top: 0;
    left: 0;
    z-index: 1; /* monkey보다 뒤에 오도록 설정 */
  }