.container{
    display: flex;
    justify-self: space-between;
    margin-left: 160px;
    margin-top: 150px;
    
  }
  
  .title{
    background-color: white;
    border: 2px solid grey;
    height: 50px;
    border-radius: 5px;
    border: 3.25px solid rgba(116, 106, 106, 0.50);
  }
  
  .main{
    background-color: white;
    border: 2px solid grey;
    width: 779px;
    height: 244px;
    border-radius: 5px;
    border: 3.25px solid rgba(116, 106, 106, 0.50);
  }
  
  .greet{
    background-color: white;
    border: 2px solid grey;
    width: 779px;
    height: 136px;
    border-radius: 5px;
    border: 3.25px solid rgba(116, 106, 106, 0.50);
  }
  
.conclude{
    background-color: white;
    border: 2px solid grey;
    width: 779px;
    height: 142px;
    border-radius: 5px;
    border: 3.25px solid rgba(116, 106, 106, 0.50);
}